body {
    background-color: #424242;
    /* background-attachment: fixed;
    background-image:url(../img/ac-background.png); */
    font-family: 'Open Sans', sans-serif;
}

#comic img {
  display:block;
  margin:0px auto;
}

.comicDescription {
    padding:10px;
}
.comicNav {
    text-align:center;
    border: 1px solid #424242;
    border-radius: 10px;
}

.comicNav li>a {
    color: #424242;
    text-decoration: underline;
}


.full-height {
   min-height:100vh;
   background-color: #ffffff;
}

#siteNav { 
    text-align:right;
    padding-right: 0px;
}

#siteNav li>a {
    color: #ffffff;
}

#siteNav li>a:hover {
    background-color: white;
    color: #424242;
}