body {
    background-color: #424242;
    /* background-attachment: fixed;
    background-image:url(../img/ac-background.png); */
    font-family: 'Open Sans', sans-serif;
}

body > div.main > div#siteNav > div > h1 {
    display:none;
}

#comicVue img {
  display:block;
  margin:0px auto;
}

.comicDescription {
    padding:10px;
}
.comicNav {
    text-align:center;
    border: 1px solid #424242;
    border-radius: 10px;
}

.comicNav li>a {
    color: #424242;
    text-decoration: underline;
}


.full-height {
    min-height:100vh;
    background-color: #ffffff;
    border-top-left-radius: 0;
    border-top-right-radius: 1em 3em;
    border-bottom-right-radius: 4em 0.5em;
    border-bottom-left-radius: 1em 3em;
}

#siteNav { 
    text-align:right;
    padding-right: 0px;
}

#siteNav li>a {
    color: #ffffff;
}

#siteNav li>a:hover {
    background-color: white;
    color: #424242;
}

#comicVue {
    
}

@media screen and (min-width: 1em) and (max-width: 63.9375em) {

    body > div.main > div#siteNav > div > img {
        display:none;
    }
    body > div.main > div#siteNav > ul {
        color:#ffffff;
        float:left;
    }
    body > div.main > div#siteNav > div > h1 {
        display:block;
        color:#ffffff;
        float:right;
        margin-right:15px;
    }

    .full-height {
        border-top-left-radius: 2em 0.5em;
    }

    #siteNav { 
        text-align:left;
        padding-right: 0px;
    }
}